<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.airportmanage.mapper.UserMapper">
    <select id="getInfo" parameterType="String" resultType="com.example.airportmanage.bean.UserBean">
            SELECT * FROM user WHERE name = #{name} AND password =#{password}
    </select>
    <insert id="setInfo" parameterType="com.example.airportmanage.bean.UserBean">--  useGeneratedKeys="true" keyProperty="id"
<!--        <selectKey keyProperty="id" resultType="int" order="BEFORE">-->
<!--            select if(max(id) is null,0,max(id)+1) as newID from User-->
<!--        </selectKey>-->
        insert into User(name,password,phone) values(#{name},#{password},#{phone})
    </insert>
    <select id="getPhInfo" parameterType="String" resultType="com.example.airportmanage.bean.UserBean">
            SELECT * FROM user WHERE phone = #{phone}
    </select>
</mapper>